body{
    background: #fff;
}
.header__container
{
    display: flex;
    min-height: 100px;
    align-items: center;
}

.header{
    position: fixed;
    width: 100%;
    height: 12%;

    top: 0;
    z-index: 1;
    border-radius: 0px 0px 30px 30px;
    background: #000000;   
    text-decoration: none;
    color: #FFFFFF;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 1.5;

}

.menu{
    display: flex;
    justify-content: flex-end;
    
}
.header__logoText{


    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 68px;

    color: #FFFFFF;

}
.header__logo-group{
    display: flex;

    justify-content:start;

    flex: 20px 20px 20px 20px;
    padding: 20px 25px 0px 0px;
}

.header__logo{

}

.header__Login{
    display: flex;
    justify-content: end;
    margin: 0px 30px 0px 0px;
 
    text-decoration: none;
}
.Login_text{
    color: #FFFFFF;
    text-decoration: none;
}
.Login_text:hover{
    color: #AEAEAE;
}



.header__menu{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 220px;
    flex: 1 1 auto;
}

ul{
    list-style-type: none;
}

.menu__item:not(:last-child){
    margin: 0px  120px 0px 0px;
}

.menu__link{
    text-decoration: none;
    color: #FFFFFF;
}
.menu__link:hover{
    color: #AEAEAE;
}


.menu__list{
    display: flex;
    flex-wrap: wrap;
}

/* @media (max-width: 1503px){
    .header{
        height: 18%;
    }
} */
@media(max-width: 1553px){
   .header__menu{
    margin: 0px 0px 0px 110px;
   } 
}

@media(max-width: 1453px){
    .header__menu{
        margin: 0px 0px 0px 60px;
       } 
}


@media (max-width: 1317px){
    .header{
        height: 18%;
    }
}

@media(max-width: 1048px){
.header{
    height: 24%;
}
}
@media(max-width: 850px){
    .header__menu{
        margin: 0px 0px 0px 0px;
       } 
}

/*===================================================================================================================================================================*/
/*First page content*/

.offer-img{
    position: absolute;
    width: 590px;
    height: 835px;
    left: 60%;
    top: 20%;


    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-10px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 27px;
}

.offer-text{
    position: absolute;
    width: 710px;
    height: 501px;
    left: 15%;
    top: 30%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 87px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

    

.button{
    box-sizing: border-box;

    position: absolute;
    width: 253px;
    height: 102px;
    left: 25%;
    top: 759px;
    
    text-decoration: none;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 95px;
    
    /* identical to box height */
    
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    background: #000000;

    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 39px;
}
.button:hover{
    color: #AEAEAE;
}

@media(max-width:1400px){
    .offer-img{
    opacity: 0.5;
    }
}



/*===================================================================================================================================================================*/
/*Second page content*/

.SecondePage__secondPageText{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 300px;
    flex: 1 1 auto;
}

.secondPageText{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 55px;
    
    color: #000000;
    
}


.secondPageText__secondPage1stText{
    position: absolute;
    width: 569px;
    height: 100px;
    left: 5%;
    top: 1216px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 35px;
    
    color: #000000;

}

.secondPageText__secondePage2ndText{
    position: absolute;
    width: 106px;
    height: 55px;
    left: 5%;
    top: 1414px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 35px;
    
    color: #000000;
    
}

.secondPageText__secondePage3thText{
    position: absolute;
    width: 249px;
    height: 55px;
    left: 5%;
    top: 1497px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 35px;
    
    color: #000000;
}


.secondPageFront{
    position: absolute;
    width: 577px;
    height: 537px;
    left: 50%;
    top: 1166px;
    
    background-image: url(img/2ndPageFront.png);

}

.secondPageText > *:not(:last-child){
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 0px;
    flex: 1 1 auto;
}


@media(max-width:1400px){
    .secondPageFront{
    opacity: 0.5;
    }
}
/*===================================================================================================================================================================*/

.footer{
    position: absolute;
    width: 100% ;
    height: 141px;
    left: 0px;
    top: 1844px;

    background: #000000;
}
.switchTheme{
    position: absolute;
    width: 127px;
    height: 25px;
    left: 14px;
    top: 15px;
    font-family: 'Open Sans';
    
    background: #D9D9D9;
    border-radius: 16px;
}

.aboutUs{
    position: absolute;
    width: 119px;
    height: 34px;
    left: 43px;
    top: 60px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
}

.madeBy{
    position: absolute;
    width: 333px;
    height: 34px;
    left: 211px;
    top: 61px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    
    
    color: #FFFFFF;

}

.mailImg{  
    position: absolute;
    width: 43px;
    height: 43px;
    left: 742px;
    top: 35px;

    background: url(image);
    border-radius: 12px;
}

.mailText{
    position: absolute;
    width: 381px;
    height: 34px;
    left: 787px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */


    color: #FFFFFF;
}

.phoneImg{
    position: absolute;
    width: 45px;
    height: 41px;
    left: 742px;
    top: 87px;
    
    background: url(image.png);
    border-radius: 31px;
}

.phoneText{
    position: absolute;
    width: 247px;
    height: 34px;
    left: 791px;
    top: 88px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */


    color: #FFFFFF;
}
.vkImg{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1393px;
    top: 32px;

    background: url(image);
    border-radius: 47px;
}

.tgImg{
    position: absolute;
    width: 84.61px;
    height: 90px;
    left: 1510px;
    top: 32px;
    
    background: url(image);
    border-radius: 44px;
}

.instImg{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1622px;
    top: 32px;
    
    background: url(image);
    border-radius: 30px;
}


[class*="__container"]{
    max-width: 1700px;
    margin: 0px auto;
}